* {
    margin: 0;
    padding: 0;
}

.signedIn {
  /* width: 140px; */
  /* border-bottom: 3.5px solid rgba(245, 245, 245, 0.212); */
  padding: 7px 7px;
  color: white;
  font-size: large;
  font-weight: 500;
  opacity: 0;
  margin-top: 33%;
  margin-left: 22%;
}

.hide {
  display: none;
}

html {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    background-image: url('bg.jpg');
    background-size: cover;
}

.login__box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 11px;
    padding: 12px;
}

.login__box h1 {
    width: 150px;
    margin-bottom: 40px;
    border-bottom: 3.5px solid rgba(245, 245, 245, 0.5);
    padding: 13px 0;
}

.text__box {
    width: 240px;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 3.5px solid rgba(245, 245, 245, 0.5);
}

.text__box i {
    width: 26px;
    float: left;
    text-align: center;
}

.text__box input {
    border: none;
    outline: none;
    background: none;
    color: white;
}

.text__box:hover{
    border-bottom: 3.5px solid rgba(245, 245, 245, 0.712);
}

.btn {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 5px;
    background: none;
    color: white;
    border: 2.5px solid rgba(245, 245, 245, 0.5);
    border-radius: 3px;
    padding: 3px;
}

.btn:hover {
    background-color: rgba(138, 138, 138, 0.253);
}

.btn__registration {
    margin-top: 0px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.521);
}

@-webkit-keyframes slit-out-vertical {
    0% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
      opacity: 1;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
  }
  @keyframes slit-out-vertical {
    0% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
      opacity: 1;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
}

@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@-webkit-keyframes blur-in {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(1.5px);
  }
}
@keyframes blur-in {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(1.5px);
  }
}
  
  
.slit-out {
	-webkit-animation: slit-out-vertical 0.5s ease-in both;
	        animation: slit-out-vertical 0.5s ease-in both;
}

.slit-out-reverse {
	-webkit-animation: slit-out-vertical 0.5s ease-in reverse both;
	        animation: slit-out-vertical 0.5s ease-in reverse both;
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

.fade-out-reverse {
	-webkit-animation: fade-out 1s ease-out reverse both;
	        animation: fade-out 1s ease-out reverse both;
}

.blur-in {
  -webkit-animation: blur-in 1s ease-out both;
	        animation: blur-in 1s ease-out both;

}

.blur-out {
  -webkit-animation: blur-in 1s ease-out reverse both;
	        animation: blur-in 1s ease-out reverse both;

}

.registrationIndicator__wrapper {
  position: absolute;
  z-index: 1000;
  width: 450px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
}

.registrationForm__wrapper {
  position: absolute;
  z-index: 1000;
  width: 450px;
  height: 200px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(168, 168, 168, 0.418);
  opacity: 0;
}

.step__indicator {
  /* background-color: rgba(201, 201, 201, 0.212); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}

.step {
  display: flex;
  flex-direction: column;
}

.step__point {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.pre-line, .post-line, .mid-point {
  display:flex;
  align-items: center;
  width: 50px;
}

.round {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.round:hover {
  border: 1px solid rgba(255, 255, 255, 0.466);
}

.line {
  height: 2px;
  width: 50px;

  align-self: center;
}

.filled {
  background-color: rgba(61,61,61,0.705);
}

.contour {
  background: linear-gradient(90deg, rgba(61,61,61,0.705) 0%, rgba(192, 192, 192, 0.705) 100%);
}

.next {
  background-color: rgba(192, 192, 192, 0.705);
}

/* .registration__form {
  height: 360px;
  width: 450px;
} */